@import '../../containers/styleguide/components/card/~styles/shared';

.card {
  composes: flex-col;
}

.header {
  composes: flex-row h4 semi-bold;
  color: $blue3;
}

.content {
  padding-top: 2em;
  composes: flex-col;
}
