@import '~styles/shared';

.container {
  composes: flex-col;
  flex-grow: 1;
  animation: fadeIn 0.5s linear;
}

.content {
  composes: flex-col;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar {
  composes: flex-col;
  flex-grow: 1;
}

.section {
  padding: 1em;
}
.big.section {
  margin: 1em;
}

.header1 {
  composes: h1;
}

.color-row {
  composes: flex-row;
}
