@import '~styles/shared';

.container {
  composes: flex-col;
  flex-grow: 1;
  overflow-y: auto;
  animation: fadeIn 0.5s linear;
  background: $grey;
}

.content {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  max-width: $max-width;
}

.section {
  padding: 1em 0;
}
.big.section {
  margin: 2em;
}

.color-row {
  composes: flex-row;
}

.type {
  .section {
    padding: 0;
    background: $dark7;
    border-top: 1px solid $dark6;
    border-bottom: 1px solid $dark6;
    margin: 1em 0;
  }
  .section:first-child {
    margin-top: 0;
  }
  .section:-last-child {
    margin-bottom: 0;
  }
}
