@import '~styles/shared';

.container {
  composes: flex-col;
  flex-grow: 1;
  overflow-y: auto;
  animation: fadeIn 0.5s linear;
  background: $grey;
}

.content {
  padding: 2em;
}

.sidebar {
  composes: flex-col;
  flex-grow: 1;
}

.section {
  padding: 1em 0;
}
.big.section {
  margin: 2em;
}

.header1 {
  composes: h1;
}

.color-row {
  composes: flex-row;
}

.type {
  .section {
    padding: 0;
    background: $dark8;
    margin: 1em 0;
  }
  .section:first-child {
    margin-top: 0;
  }
  .section:-last-child {
    margin-bottom: 0;
  }
}
