@import '../../containers/styleguide/components/banner/~styles/shared';

.banner {
  composes: flex-row;
  flex-shrink: 0;
  color: white;
  padding: 4em;
  background: linear-gradient(45deg, $dark-alt1 50%, $purple 100%);
}
